.search-section{
	display: flex;
	flex-direction: column;
	height: 400px;
	background-image: url('../images/background-s_search.jpg');
	background-size: cover;
	align-items : center;
	justify-content: center;
}

	.search-header{
		color: white;
	}

	.form-search{
		display: flex;
		align-items: center;
	}

.discovery-section{
	display: flex;
	justify-content:space-around;
	padding: 20px;
}

	.discovery-tile{
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	height: 344px;
		width: 30%;
    	color: white;
    	font-weight: bold;
    	text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

		.discovery-tile-header{
			font-size: 2em;
			font-weight: bold;
		}

		.discovery-tile-paris{
			background-image: url(../images/paris.jpg);
		}

		.discovery-tile-roma{
			background-image: url(../images/roma.jpg);
		}

		.discovery-tile-miami{
			background-image: url(../images/miami.jpg);
		}