fieldset{
	border: none;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #f5f5f5;
}

input[type="text"]{
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	background-color: #FFF;
	color: #565a5c;
	padding: 10px 10px;
	height: 44px;
	box-sizing: border-box;
}

.btn{	
	display: block;
	height: 44px;
	line-height: 24px;
	border-radius: 2px;
	border: 1px solid;
	text-align: center;
	font-weight: bold;	
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
}

	.btn-primary{		
		border-color: #ff5a5f;
		border-bottom-color: #e00007;
		background-color: #ff5a5f;
		color: white;
		padding: 9px 27px;		
	}

		.btn-primary:hover{
		    border-color: #ff7e82;
		    border-bottom-color: #fa0008;
		    background-color: #ff7e82;
		}

		.btn-primary:active{
		    border-color: #e00007;
		    background-color: #e00007;			
		}

	.btn-large{
		width: 150px;
	}

.header{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	height: 50px;
	box-shadow: 0px 2px 5px #555;
}

	.header-logo{
		margin-left: 20px;
	}

	.header-menu-list{
		display: flex;
		list-style-type: none;
		margin: 0px;
		margin-right: 20px;
	}

		.header-menu-list-item{
			margin-right: 15px;
		}

			.header-menu-list-item-link{
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				color: #ff5a5f;
				font-weight: bold;
			}

				.header-menu-list-item-link:hover{
					color: #e00007;
				}

.footer{
	background-color: #2b2d2e;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: white;
	height: 100px;
}

	.footer-menu-list{
		padding: 0px;
		margin: 0px;
		display: flex;
		list-style-type: none;
	}

		.footer-menu-list-item{
			margin-right: 15px;
		}

			.footer-menu-list-item-link{
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				color: #ff5a5f;
				font-weight: bold;
			}

				.footer-menu-list-item-link:hover{
					color: #e00007;
				}		