@import '../scripts/libs/materialize/sass/materialize';

.parallax-container{

	&.bkg-alpha{
		background-color : rgba(0,0,0,.6);
	}	

	.search-bar{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20px 0px;
		background-color: rgba(0,0,0,.8);
	}
}

footer.page-footer{
	margin-top : 0px;
}