<section class="search-section">
	<h1 class="search-header">Buscar Propiedad</h1>		
	<article>
		<form class="form-search" name="searchForm" ng-submit="buscarQuery()" novalidate>
			<fieldset>						
				<input type="text" id="search" name="search" placeholder="Ciudad" ng-model="query">
			</fieldset>
			<fieldset>
				<button class="btn btn-primary" type="submit">Buscar</button>
			</fieldset>
		</form>
	</article>
</section>	
<section class="discovery-section">
	<article class="discovery-tile discovery-tile-paris">
		<h3 class="discovery-tile-header">París</h3>
	</article>
	<article class="discovery-tile discovery-tile-roma">
		<h3 class="discovery-tile-header">Roma</h3>			
	</article>
	<article class="discovery-tile discovery-tile-miami">
		<h3 class="discovery-tile-header">Miami</h3>			
	</article>						
</section>