<section class="filter-section">
	
</section>
<section class="result-section">
	<article class="card" ng-repeat="resultado in resultados">
		<div class="card-picture">
			<img ng-src="{{ resultado.thumbnail }}" alt="">
		</div>
		<div class="card-content">
			<h2>{{ resultado.title }}</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magnam sequi illo suscipit velit ratione officia sed quasi dolor ducimus aliquam quod doloribus voluptas ut provident delectus, voluptatem eligendi veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi molestias dicta maiores sit voluptatibus nesciunt sed voluptas odio dolor accusantium enim, adipisci consectetur rerum sint quas consequatur! Fugit, assumenda, eum?</p>
		</div>
		<div class="card-actions">
			<a ng-href="{{ resultado.permalink }}" class="btn btn-large btn-primary">Ver</a>
		</div>
	</article>
</section>